<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="DataNucleusPersistenceModule" class="org.romaframework.aspect.persistence.datanucleus.DataNucleusPersistenceModule"
		singleton="true">
		<constructor-arg ref="OIDManager" />
		<property name="runtimeEnhancement" value="false" />
		<property name="configuration">
			<map>
				<!-- TO TUNE DATANUCLEUS LOOK AT: http://www.datanucleus.org/products/accessplatform/performance_tuning.html -->
				<entry key="datanucleus.PersistenceUnitName" value="default" />
			</map>
		</property>
	</bean>

	<bean id="QueryEngine" class="org.romaframework.aspect.persistence.datanucleus.jdo.JPQLQueryEngine" singleton="true">
	</bean>


	<bean id="PersistenceAspect" class="org.romaframework.aspect.persistence.datanucleus.jdo.JDOAtomicPersistenceAspect"
		singleton="true">
		<constructor-arg ref="DataNucleusPersistenceModule" />
		<property name="queryEngine" ref="QueryEngine" />
	</bean>

	<bean id="TxPersistenceAspect" class="org.romaframework.aspect.persistence.datanucleus.jdo.JDOTxPersistenceAspect"
		singleton="false" lazy-init="true">
		<constructor-arg ref="DataNucleusPersistenceModule" />
		<property name="queryEngine" ref="QueryEngine" />
	</bean>

	<bean id="NoTxPersistenceAspect" class="org.romaframework.aspect.persistence.datanucleus.jdo.JDONoTxPersistenceAspect"
		singleton="false" lazy-init="true">
		<constructor-arg ref="DataNucleusPersistenceModule" />
		<property name="queryEngine" ref="QueryEngine" />
	</bean>

	<bean id="OIDManager" class="org.romaframework.aspect.persistence.datanucleus.DataNucleusOIDManager" singleton="true" />
	<bean id="JDOMetadataResourceResolver" class="org.romaframework.aspect.persistence.datanucleus.jdo.JDOMetadataResourceResolver" />
</beans>
